
@media screen and (max-width:991px){
 header.page-title h1 {
   font-size:2.5rem !important;
 }

header.page-title {
  border-bottom:5px solid #ddd;
  height:5em !important;
  margin-bottom:1em;
}

 header.page-title h2 {
   font-size:2rem !important;
 }

 .total-items {
 	text-align:right;
 }

 }

 @media screen and (max-width:560px){
  header.page-title h1, header.page-title h2 {
   font-size:1.8rem !important;
 }   
 
 }

 @media screen and (max-width:480px){
 .container {
/*    width:100% !important; */
   padding:0 !important;
 }

header.page-title h1, header.page-title h2 {
   font-size:1.5rem !important;
 }   

 }