//Compass imports
@import "bootstrap";
 
//Core partials
@import "partials/variables";
@import "partials/base";
@import "partials/mixins";
@import "partials/mediaqueries";


.flex {
	display:flex;
	height: 100px;
	background:green;

}
header.page-title {
	height:7em;
}
header.page-title h1 {
	font-size:5rem;
	text-transform:uppercase;
		
}

.cart-header {
	border-top:1px solid #ddd;
	padding:10px;
	font-weight:bold;
	border-bottom:5px solid #ddd;
	margin:0 0 1em 0;
}

.cart-items select {
	padding:6px;
}
.item-short-desc {
	margin:0 0 2em 0;
}
